<div class="row btn-page">
  <div class="col-sm-12">
    <app-card cardTitle="Shipping Summary" [options]="false">
      <div class="row">
        <div class="col-md-2 col-xs-6 border-right">
          <h3>{{sampleData.length}}</h3>
          <span class="">Total Shipment</span>
        </div>
        <div class="col-md-2 col-xs-6 border-right">
          <h3>12</h3>
          <span class="text-success">Active Shipment</span>
        </div>
        <div class="col-md-2 col-xs-6 border-right">
          <h3>0</h3>
          <span class="text-danger">Inactive Shipment</span>
        </div>
        <div class="col-md-2 col-xs-6 border-right">
          <h3>12</h3>
          <span class="text-info">Active Contracts</span>
        </div>
        <div class="col-md-2  col-xs-6 border-right">
          <h3>0</h3>
          <span class="text-danger">Inactive Contracts</span>
        </div>
        <div class="col-md-2 col-xs-6">
          <h3>1</h3>
          <span class="text-primary">Shipments Logged In Today</span>
        </div>
      </div>
    </app-card>
  </div>
    <div class="col-sm-12">
      <app-card [hidHeader]="true">
        <div class="row align-items-center justify-contact-between">
          <div class="col">
            <div class="btn btn-primary">
              28246249364
            </div>
          </div>
          <div class="col text-right">
            <button class="btn btn-outline-primary">
              <i class="feather icon-map-pin"></i> track
            </button>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table m-0 mt-3">
            <tr>
              <td class="align-middle">
                <img src="assets/images/product/prod-1.jpg" alt="contact-img" title="contact-img" class="rounded mr-3" height="80" />
                <div class="m-0 d-inline-block align-middle font-16">
                  <a href="javascript:" class="text-body">
                    <h6 class="d-inline-block">Amazing Rolling Chair</h6>
                  </a>
                  <br />
                  <span class="text-warning feather icon-star-on"></span>
                  <span class="text-warning feather icon-star-on"></span>
                  <span class="text-warning feather icon-star-on"></span>
                  <span class="text-warning feather icon-star-on"></span>
                  <span class="text-warning feather icon-star-on"></span>
                </div>
              </td>
              <td class="text-right">
                <h5>250 <small>pc</small></h5>
              </td>
              <td>
                <h5>$123.95</h5>
              </td>
              <td class="text-right">
                <div class="text-left d-inline-block">
                  <h6 class="my-0">Delivered on Mon, Oct 16th 2018</h6>
                  <small class="text-muted">Brief description</small>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <hr class="mt-0" />
        <div class="row align-items-center justify-contact-between">
          <div class="col">
            <span class="text-muted">Ordered On</span>
            <strong> Wed, Oct 3rd 2018</strong>
          </div>
          <div class="col text-right">

            <span class="text-muted">Ordered Amount</span>
            <strong> $1150</strong>
          </div>
        </div>
      </app-card>
      <app-card [hidHeader]="true">
        <div class="row align-items-center justify-contact-between">
          <div class="col">
            <div class="btn btn-primary">
              28246249365
            </div>
          </div>
          <div class="col text-right">
            <button class="btn btn-outline-primary">
              <i class="feather icon-map-pin"></i> track
            </button>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table m-0 mt-3">
            <tr>
              <td class="align-middle">
                <img src="assets/images/product/prod-2.jpg" alt="contact-img" title="contact-img" class="rounded mr-3" height="80" />
                <div class="m-0 d-inline-block align-middle font-16">
                  <a href="javascript:" class="text-body">
                    <h6 class="d-inline-block">Minicap Dining Chair</h6>
                  </a>
                  <br />
                  <span class="text-warning feather icon-star-on"></span>
                  <span class="text-warning feather icon-star-on"></span>
                  <span class="text-warning feather icon-star-on"></span>
                  <span class="text-warning feather icon-star-on"></span>
                  <span class="text-warning feather icon-star"></span>
                </div>
              </td>
              <td class="text-right">
                <h5>1150 <small>pc</small></h5>
              </td>
              <td>
                <h5>$123.95</h5>
              </td>
              <td class="text-right">
                <div class="text-left d-inline-block">
                  <h6 class="my-0">Delivered on Mon, Oct 16th 2018</h6>
                  <small class="text-muted">Brief description</small>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <hr class="mt-0" />
        <div class="row align-items-center justify-contact-between">
          <div class="col">
            <span class="text-muted">Ordered On</span>
            <strong> Wed, Oct 3rd 2018</strong>
          </div>
          <div class="col text-right">

            <span class="text-muted">Ordered Amount</span>
            <strong> $123.95</strong>
          </div>
        </div>
      </app-card>
      <app-card [hidHeader]="true">
        <div class="row align-items-center justify-contact-between">
          <div class="col">
            <div class="btn btn-primary">
              28246249458
            </div>
          </div>
          <div class="col text-right">
            <button class="btn btn-outline-primary">
              <i class="feather icon-map-pin"></i> track
            </button>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table m-0 mt-3">
            <tr>
              <td class="align-middle">
                <img src="assets/images/product/prod-3.jpg" alt="contact-img" title="contact-img" class="rounded mr-3" height="80" />
                <div class="m-0 d-inline-block align-middle font-16">
                  <a href="javascript:" class="text-body">
                    <h6 class="d-inline-block">Marvel T-shirts</h6>
                  </a>
                  <br />
                  <span class="text-warning feather icon-star-on"></span>
                  <span class="text-warning feather icon-star-on"></span>
                  <span class="text-warning feather icon-star-on"></span>
                  <span class="text-warning feather icon-star"></span>
                  <span class="text-warning feather icon-star"></span>
                </div>
              </td>
              <td class="text-right">
                <h5>43 <small>pc</small></h5>
              </td>
              <td>
                <h5>$68.95</h5>
              </td>
              <td class="text-right">
                <div class="text-left d-inline-block">
                  <h6 class="my-0">Delivered on Mon, Oct 16th 2018</h6>
                  <small class="text-muted">Brief description</small>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <hr class="mt-0" />
        <div class="row align-items-center justify-contact-between">
          <div class="col">
            <span class="text-muted">Ordered On</span>
            <strong> Wed, Oct 3rd 2018</strong>
          </div>
          <div class="col text-right">

            <span class="text-muted">Ordered Amount</span>
            <strong> $68.95</strong>
          </div>
        </div>
      </app-card>
      <app-card [hidHeader]="true">
        <div class="row align-items-center justify-contact-between">
          <div class="col">
            <div class="btn btn-primary">
              28246249458
            </div>
          </div>
          <div class="col text-right">
            <button class="btn btn-outline-primary">
              <i class="feather icon-map-pin"></i> track
            </button>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table m-0 mt-3">
            <tr>
              <td class="align-middle">
                <img src="assets/images/product/prod-12.jpg" alt="contact-img" title="contact-img" class="rounded mr-3" height="80" />
                <div class="m-0 d-inline-block align-middle font-16">
                  <a href="javascript:" class="text-body">
                    <h6 class="d-inline-block">Chamiu lipstick</h6>
                  </a>
                  <br />
                  <span class="text-warning feather icon-star-on"></span>
                  <span class="text-warning feather icon-star-on"></span>
                  <span class="text-warning feather icon-star-on"></span>
                  <span class="text-warning feather icon-star-on"></span>
                  <span class="text-warning feather icon-star"></span>
                </div>
              </td>
              <td class="text-right">
                <h5>487 <small>pc</small></h5>
              </td>
              <td>
                <h5>$2.24</h5>
              </td>
              <td class="text-right">
                <div class="text-left d-inline-block">
                  <h6 class="my-0">Delivered on Mon, Oct 16th 2018</h6>
                  <small class="text-muted">Brief description</small>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <hr class="mt-0">
        <div class="row align-items-center justify-contact-between">
          <div class="col">
            <span class="text-muted">Ordered On</span>
            <strong> Wed, Oct 3rd 2018</strong>
          </div>
          <div class="col text-right">

            <span class="text-muted">Ordered Amount</span>
            <strong> $2.24</strong>
          </div>
        </div>
      </app-card>
    </div>

</div>



<form novalidate>
  <app-ui-modal #myPersistenceModal [containerClick]="false" [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
      <h5 class="modal-title">New Order...</h5>
      <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="myPersistenceModal.hide()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="app-modal-body bg-muted">
      <app-shipping-edit></app-shipping-edit>
    </div>

    <div class="app-modal-footer">
      <button type="button" class="btn btn-danger rounded" data-dismiss="modal" (click)="myPersistenceModal.hide()">Close</button>
      <button type="button" class="btn btn-primary rounded m-2">Submit</button>
    </div>
  </app-ui-modal>
</form>
