<div class="modal-header">
  <h5 class="modal-title">  {{Title}}</h5>
  <button type="button" class="fa fa-times" aria-label="Close"
          (click)="activeModal.dismiss('Cross click')">
  </button>
</div>

<form [formGroup]="myform" (ngSubmit)="submitForm()">
  <div class="modal-body">
    <fieldset>

      <div class="form-group">
        <label>Order Number</label>
        <input type="text" id="number" class="form-control" formControlName="number" required >
      </div>

      <div class="form-group">
        <label>Type</label>
        <input type="text"  id="ordertype"  class="form-control" formControlName="orderType" required [ngClass]="{'is-invalid': !orderType.valid && (orderType.dirty || orderType.touched || isSubmit)}">
        <label *ngIf="!orderType.valid && (orderType.dirty || orderType.touched || isSubmit)" id="validation-email-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter type of order</label>
      </div>
     
      <div class="form-group">
        <label>Authorized by</label>
        <select class="form-control" formControlName="authorizedBy" required>
          <option value="">Please select an authorizer</option>
          <option *ngFor="let auth of authorizers" [value]="id">
            {{auth.displayName}}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label>Customer PO</label>
        <input type="text" class="form-control" formControlName="customerPO" required [ngClass]="{'is-invalid': !customerPO.valid && (customerPO.dirty || customerPO.touched || isSubmit)}">
        <label *ngIf="!customerPO.valid && (customerPO.dirty || customerPO.touched || isSubmit)" id="validation-customerPO-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter the customer's PO.</label>
      </div>
      <div class="form-group">
        <label>Customer</label>
        <select class="form-control" formControlName="customer" required>
          <option value="">Please select a customer</option>
          <option *ngFor="let customer of customers" [value]="id">
            {{customer.displayName}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>Sales Person</label>
        <input type="text" class="form-control" formControlName="salesPerson" required [ngClass]="{'is-invalid': !salesPerson.valid && (salesPerson.dirty || salesPerson.touched || isSubmit)}">
        <label *ngIf="!salesPerson.valid && (salesPerson.dirty || salesPerson.touched || isSubmit)" id="validation-salesPerson-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter the sales person.</label>
      </div>
      <div class="form-group">
        <label>Order Date</label>
        <input type="datetime" class="form-control" formControlName="orderDate" required [ngClass]="{'is-invalid': !orderDate.valid && (orderDate.dirty || orderDate.touched || isSubmit)}">
        <label *ngIf="!orderDate.valid && (orderDate.dirty || orderDate.touched || isSubmit)" id="validation-orderDate-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter the order date.</label>
      </div>
      <div class="form-group">
        <label>Quote Number</label>
        <input type="text" class="form-control" formControlName="quoteNumber" required [ngClass]="{'is-invalid': !quoteNumber.valid && (quoteNumber.dirty || quoteNumber.touched || isSubmit)}">
        <label *ngIf="!quoteNumber.valid && (quoteNumber.dirty || quoteNumber.touched || isSubmit)" id="validation-quoteNumber-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter the Quote Number.</label>
      </div>
      <div class="form-group">
        <label>Credit Card Number</label>
        <input type="text" class="form-control" formControlName="creditCardNumber" required [ngClass]="{'is-invalid': !creditCardNumber.valid && (creditCardNumber.dirty || creditCardNumber.touched || isSubmit)}">
        <label *ngIf="!creditCardNumber.valid && (creditCardNumber.dirty || creditCardNumber.touched || isSubmit)" id="validation-creditCardNumber-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter credit card number.</label>
      </div> 
      <div class="form-group">
        <label>Ship To Address</label>
        <input type="text" class="form-control" formControlName="shipToAddress" required [ngClass]="{'is-invalid': !shipToAddress.valid && (shipToAddress.dirty || shipToAddress.touched || isSubmit)}">
        <label *ngIf="!shipToAddress.valid && (shipToAddress.dirty || shipToAddress.touched || isSubmit)" id="validation-shipToAddress-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter shipping to address.</label>
      </div>
      <div class="form-group">
        <label>Invoice To Address</label>
        <input type="text" class="form-control" formControlName="invoiceToAddress" required [ngClass]="{'is-invalid': !invoiceToAddress.valid && (invoiceToAddress.dirty || invoiceToAddress.touched || isSubmit)}">
        <label *ngIf="!invoiceToAddress.valid && (invoiceToAddress.dirty || invoiceToAddress.touched || isSubmit)" id="validation-invoiceToAddress-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter invoicing address.</label>
      </div>
      <div class="form-group">
        <label>Order Status</label>
        <input type="text" class="form-control" formControlName="orderStatus" required [ngClass]="{'is-invalid': !orderStatus.valid && (orderStatus.dirty || orderStatus.touched || isSubmit)}">
        <label *ngIf="!orderStatus.valid && (orderStatus.dirty || orderStatus.touched || isSubmit)" id="validation-orderStatus-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter order status.</label>
      </div>
      <div class="form-group">
        <label>Customer Number</label>
        <input type="text" class="form-control" formControlName="customerNumber" required [ngClass]="{'is-invalid': !customerNumber.valid && (customerNumber.dirty || customerNumber.touched || isSubmit)}">
        <label *ngIf="!customerNumber.valid && (customerNumber.dirty || customerNumber.touched || isSubmit)" id="validation-customerNumber-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter customer number</label>
      </div>
      <div class="form-group">
        <label>Price</label>
        <input type="text" class="form-control" formControlName="price" required [ngClass]="{'is-invalid': !price.valid && (price.dirty || price.touched || isSubmit)}">
        <label *ngIf="!price.valid && (price.dirty || price.touched || isSubmit)" id="validation-price-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter price</label>
      </div>

      </fieldset>
     <div class="form-group">
      <label>Language</label>
      <select class="form-control">
        <option value="">Please select a language</option>
        <option *ngFor="let lang of langs" [value]="lang">
          {{lang}}
        </option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger rounded" (click)="activeModal.dismiss('Cross click')">Close</button>
    <button type="button" class="btn btn-primary rounded m-2" [disabled]="!myform.valid" (click)="submitForm()">Submit</button>
  </div>
</form>


