
  <div class="row btn-page">
    <div class="col-sm-12">
      <app-card cardTitle="Orders Summary" [options]="false">
        <div class="row">
          <div class="col-md-2 col-xs-6 border-right">
            <h3>{{sampleData.length}}</h3>
            <span class="text-info">Total Orders</span>
          </div>
          <div class="col-md-2 col-xs-6 border-right">
            <h3>2</h3>
            <span class="">Not Started</span>
          </div>
          <div class="col-md-2 col-xs-6 border-right">
            <h3>12</h3>
            <span class="text-primary">In Progress</span>
          </div>
          <div class="col-md-2 col-xs-6 border-right">
            <h3>3</h3>
            <span class="text-danger">On Hold</span>
          </div>
          <div class="col-md-2 col-xs-6 border-right">
            <h3>8</h3>
            <span class="text-warning">Cancelled</span>
          </div>
          <div class="col-md-2  col-xs-6">
            <h3>36</h3>
            <span class="text-success">Finished</span>
          </div>
        </div>
      </app-card>
    </div>
    <div class="col-sm-12">
      <app-card [hidHeader]="true">
        <div class="row align-items-center m-l-0">
          <div class="col-sm-6"></div>
          <div class="col-sm-6 text-right">
            <button class="btn btn-primary btn-sm btn-round has-ripple"  (click)="openEditModal(0)"><i class="feather icon-plus"></i> New Order</button>
          </div>

        </div>

        <ngb-tabset>
          <ngb-tab title="ORDERS">
            <ng-template ngbTabContent>
              <div class="table-responsive p-t-20">
                <table datatable id="project-1" class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Order Number</th>
                      <th>Customer</th>

                      <th>Start Date</th>
                      <th>Due Date</th>
                      <th>Suppliers</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="has-row-options odd" role="row">
                      <td>1</td>
                      <td>
                        ORD54484221LK6
                        <small class="d-block">
                          <a href="javascript:">View</a> |
                          <a href="javascript:">Contacts</a> |
                          <a href="javascript:" class="text-danger">Delete </a>
                        </small>
                      </td>
                      <td>Flatley-Wolff</td>
                      <td>2019-07-29</td>
                      <td>2019-09-29</td>
                      <td>
                        <img class="img-radius wid-30 mr-1" src="assets/images/user/avatar-1.jpg" data-toggle="tooltip" data-title="Guido Nolan" alt="Generic placeholder image">
                        <img class="img-radius wid-30 mr-1" src="assets/images/user/avatar-2.jpg" data-toggle="tooltip" data-title="Marshall Morissette" alt="Generic placeholder image">
                        <img class="img-radius wid-30 mr-1" src="assets/images/user/avatar-3.jpg" data-toggle="tooltip" data-title="Lorenzo Stroman" alt="Generic placeholder image">
                        <img class="img-radius wid-30" src="assets/images/user/avatar-4.jpg" data-toggle="tooltip" data-title="Amani Wiegand" alt="Generic placeholder image">
                      </td>
                      <td>
                        <span class="badge badge-primary inline-block">In Progress</span>
                        <button class="btn btn-primary btn-outline btn-sm btn-round has-ripple" (click)="openEditModal(1)"><i class="feather icon-edit"></i> Edit</button>
                      </td>
                    </tr>
                    <tr class="has-row-options even" role="row">
                      <td>2</td>
                      <td>
                        ORD877459PG
                        <small class="d-block">
                          <a href="javascript:">View</a> |
                          <a href="javascript:">Contacts</a> |
                          <a href="javascript:" class="text-danger">Delete </a>
                        </small>
                      </td>
                      <td>Feeney-Pouros</td>

                      <td>2019-07-29</td>
                      <td>2019-09-29</td>
                      <td>
                        <img class="img-radius wid-30 mr-1" src="assets/images/user/avatar-3.jpg" data-toggle="tooltip" data-title="Lorenzo Stroman" alt="Generic placeholder image">
                        <img class="img-radius wid-30 mr-1" src="assets/images/user/avatar-1.jpg" data-toggle="tooltip" data-title="Guido Nolan" alt="Generic placeholder image">
                        <img class="img-radius wid-30" src="assets/images/user/avatar-4.jpg" data-toggle="tooltip" data-title="Amani Wiegand" alt="Generic placeholder image">
                      </td>
                      <td><span class="badge badge-primary inline-block">In Progress</span></td>
                    </tr>
                    <tr class="has-row-options odd" role="row">
                      <td>3</td>
                      <td>
                        ORD975543NM
                        <small class="d-block">
                          <a href="javascript:">View</a> |
                          <a href="javascript:">Contacts</a> |
                          <a href="javascript:" class="text-danger">Delete </a>
                        </small>
                      </td>
                      <td>Gorczany, Barton and Kreiger</td>

                      <td>2019-07-29</td>
                      <td>2019-09-29</td>
                      <td>
                        <img class="img-radius wid-30 mr-1" src="assets/images/user/avatar-2.jpg" data-toggle="tooltip" data-title="Lorenzo Stroman" alt="Generic placeholder image">
                        <img class="img-radius wid-30" src="assets/images/user/avatar-1.jpg" data-toggle="tooltip" data-title="Guido Nolan" alt="Generic placeholder image">
                      </td>
                      <td><span class="badge badge-primary inline-block">In Progress</span></td>
                    </tr>
                    <tr class="has-row-options even" role="row">
                      <td>4</td>
                      <td>
                        ORD54488221LK
                        <small class="d-block">
                          <a href="javascript:">View</a> |
                          <a href="javascript:">Contacts</a> |
                          <a href="javascript:" class="text-danger">Delete </a>
                        </small>
                      </td>
                      <td>Hilll Inc</td>
                      <td>2019-07-29</td>
                      <td>2019-09-29</td>
                      <td>
                        <img class="img-radius wid-30 mr-1" src="assets/images/user/avatar-4.jpg" data-toggle="tooltip" data-title="Amani Wiegand" alt="Generic placeholder image">
                        <img class="img-radius wid-30 mr-1" src="assets/images/user/avatar-3.jpg" data-toggle="tooltip" data-title="Lorenzo Stroman" alt="Generic placeholder image">
                        <img class="img-radius wid-30 mr-1" src="assets/images/user/avatar-1.jpg" data-toggle="tooltip" data-title="Guido Nolan" alt="Generic placeholder image">
                        <img class="img-radius wid-30" src="assets/images/user/avatar-2.jpg" data-toggle="tooltip" data-title="Marshall Morissette" alt="Generic placeholder image">
                      </td>
                      <td><span class="badge badge-primary inline-block">In Progress</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="NEW ORDER">
            <ng-template ngbTabContent>
              <div class="row p-t-20">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="Project" placeholder="Order Number">
                  </div>
                  <div class="form-group">
                    <select class="form-control" id="customers">
                      <option value="">Select Customer</option>
                      <option value="9">Sigurd Kessler</option>
                      <option value="2">Marshall Morissette</option>
                      <option value="10">Marlin Sipes</option>
                      <option value="7">Lula Reichel</option>
                      <option value="3">Lorenzo Stroman</option>
                      <option value="1">Guido Nolan</option>
                      <option value="8">Ernesto Kerluke</option>
                      <option value="5">Clifford Roberts</option>
                      <option value="6">Chet Rempel</option>
                      <option value="4">Amani Wiegand</option>
                    </select>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                    <label class="custom-control-label" for="customCheck1">Track progress</label>
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <select class="form-control" id="Billing">
                          <option value="">Select Payment Mode</option>
                          <option value="1">Cash</option>
                          <option value="2">Cheque</option>
                          <option value="3">Mpesa</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <select class="form-control" id="Status">
                          <option value="">Select Status</option>
                          <option value="1">Not Started</option>
                          <option value="2">In Progress</option>
                          <option value="3">On Hold</option>
                          <option value="5">Cancelled</option>
                          <option value="4">Finished</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" id="quantity" placeholder="Quantity">
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input type="number" class="form-control" id="amount" placeholder="Amount">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <select class="form-control" id="Members">
                          <option value="">Select Members</option>
                          <option value="9">Sigurd Kessler</option>
                          <option value="2">Marshall Morissette</option>
                          <option value="10">Marlin Sipes</option>
                          <option value="7">Lula Reichel</option>
                          <option value="3">Lorenzo Stroman</option>
                          <option value="1">Guido Nolan</option>
                          <option value="8">Ernesto Kerluke</option>
                          <option value="5">Clifford Roberts</option>
                          <option value="6">Chet Rempel</option>
                          <option value="4">Amani Wiegand</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group fill">
                        <label>Order Date</label>
                        <input type="date" class="form-control" id="Start" placeholder="Start Date">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group fill">
                        <label>Due Date</label>
                        <input type="date" class="form-control" id="Deadline" placeholder="Deadline">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="label">Description</label>
                    <!-- <app-tinymce [(ngModel)]='basicContent' #tinymce='tinymce'></app-tinymce> -->
                  </div>
                </div>
                <div class="col-6">
                  <button class="btn btn-primary"> Save </button>
                  <button class="btn btn-danger"> Clear </button>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </app-card>
    </div>
  </div>


