<div class="row">
  <div class="col-sm-12 hidden">
    <app-card cardTitle="Countries Summary" [options]="false">
      <div class="row">
        <div class="col-md-2 col-xs-6 border-right">
          <h3>{{ regionData.length }}</h3>
          <span class="">Total Countries</span>
        </div>
        <div class="col-md-2 col-xs-6 border-right">
          <h3>12</h3>
          <span class="text-success">Acceptable Geo-location</span>
        </div>
        <div class="col-md-2 col-xs-6 border-right">
          <h3>0</h3>
          <span class="text-danger">UnAcceptable Geo-location</span>
        </div>
        <div class="col-md-2 col-xs-6 border-right">
          <h3>12</h3>
          <span class="text-info">Active Countries</span>
        </div>
        <div class="col-md-2 col-xs-6 border-right">
          <h3>0</h3>
          <span class="text-danger">Inactive Countries</span>
        </div>
        <div class="col-md-2 col-xs-6">
          <h3>1</h3>
          <span class="text-primary">Customers Logged In Today</span>
        </div>
      </div>
    </app-card>
  </div>

  <div class="col-sm-12 btn-page">
    <app-card [hidHeader]="true" cardClass="card-datatable">
      <div class="row align-items-center m-l-0">
        <div class="col-sm-6"></div>
        <div class="col-sm-6 text-right">
          <button
            class="btn btn-primary btn-sm btn-round has-ripple"
            (click)="open(regionModal, 0)"
          >
            <i class="feather icon-plus"></i> New Region
          </button>
        </div>
      </div>
      <!--table-->
      <div class="table-responsive">
        <table
          datatable
          id="region-table"
          class="table table-striped table-hover table-condensed mb-0"
        >
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Description</th>
              <th>Date Modified</th>
              <th>Modified By</th>

              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let region of regionData; index as i">
              <td>
                <strong>{{ i + 1 }}</strong>
              </td>
              <td>{{ region.name }}</td>
              <td>{{ region.description }}</td>
              <td>{{ region.modifiedOn | date: "dd/mm/yyyy hh:MM:ss" }}</td>
              <td>
                {{
                  region.modifiedBy.lastName +
                    " " +
                    region.modifiedBy.firstName
                }}
              </td>
              <td>
                <button
                  class="btn btn-outline-primary btn-sm rounded"
                  title="edit"
                  (click)="open(regionModal, region.id)" >
                  <i class="fa fa-pencil"></i>
                </button>
                <button class="btn btn-outline-danger btn-sm rounded m-2"  title="delete region" (click)="deleteJob(region.id,region)">
                 
                  <i class="fa fa-times"></i>
                </button>
              </td>
            </tr>
          </tbody>
          <tfoot></tfoot>
        </table>
      </div>
    </app-card>
  </div>
</div>

<ng-template #regionModal let-modal>
  <form [formGroup]="regionForm">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{ modalHeader }}</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')" >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="app-modal-body bg-muted px-3">
     <div class="form-group row pt-3">
      <label  for="regionName" class="col-sm-3 col-form-label col-form-label-sm">Name</label>
      <div class="col-sm-9">
        <input         
          type="text"
          id="regionName"
          class="form-control form-control-sm"
          placeholder="region name..."
          formControlName="Name"
          [ngClass]="{'is-invalid': !Name.valid && (Name.dirty || Name.touched) }"
        />
      </div>
    </div>
    <div class="form-group row">
      <label       
        for="regionDescription"
        class="col-sm-3 col-form-label col-form-label-sm">Description</label>
      <div class="col-sm-9">
        <textarea         
          id="regionDescription"
          class="form-control form-control-sm"
          placeholder="region description..."
          formControlName="Description"
          [ngClass]="{'is-invalid': !Description.valid && (Description.dirty || Description.touched) }"
        > </textarea>
      </div>
    </div>
   
  </div>
    
    <div class="app-modal-footer px-2">
      <button  type="button" class="btn btn-danger rounded" autofocus="" data-dismiss="modal" (click)="modal.close('Save click')"> Close </button>
      <button type="button" class="btn btn-primary rounded m-2" [disabled]="!regionForm.valid"  (click)="submitForm(regionForm.valid)"> Save </button>
    </div>
  </form>
</ng-template>
